  /* galeria */

  .galeriaFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin: 20px;
    filter: opacity(100%);

    img {
        width: 100%;
        margin: 10px;
        border: solid black;

       &:hover {
  
            cursor: pointer;
       
 
            filter: none;
            filter: opacity(0%);
          
            background-color: antiquewhite;
          }
         
      }
  
  }