 
  @media (max-width: 768px) {
  
    h1 {
    font-size: 20px;
  
  }
    h2 {
      font-size: 20px;
    }
  
    h3
  
    .textoBio p {
      background-color: antiquewhite;
      display: flex;
      flex-direction: column;
    }
  
    .gridGaleriaShow {
      flex-direction: column;
    }
  
    .imagenPortadaResponsiveShow {
      display: flex;
      flex-direction: column;
    
    
    }
  
    .galeriaShows {
    
  
        flex-wrap: nowrap;
        flex-direction: column;
      }
  
    .sombreroMago img {
      top: 300px;
      width: 200px;
      height: 200px;
  
    }
    }
  
  
  
  
  
  
  
  
  
  
  
  /* ---------vista celular */
  @media (max-width: 500px) {
  
    .logo {
      width: 100px;
    }
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 10px;
    }
  
    .video {
      display: none;
    }
  
    .redes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .botonContacto {
  
      font-size: 10px;
  display: flex;
     
         align-items: center;
         justify-content: center;
      margin: 0 auto;
    }
    .botonContacto {
  
     display: flex;
     justify-content: center;
     align-items: center;
   margin: 0 auto;
   margin-left: 10px;
    }
  
    .textoBio {
  
      display: flex;
      flex-direction: column;
    }
  
    .imagenPortadaResponsive img {
      display: block;
      width: 100%;
      margin: 0px auto;
      text-align: center;
  
    }
  
    #carouselExampleIndicators {
      display: none;
  
    }
    
    .galeriaShows {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  