
$colorPrincipal: black;
$colorSecundario: white;

/* redes */
$colorFacebook: blue;
$colorInstagram: red;
$colorYoutube: red;
$colorWhatsapp: green;



  /* MAPS */

/* $estilos:(
    fuente: 45px,
    alineacion: center;
    margenI: 10px;
    margenD: 10px
  );

  .bi-facebook {
    font-size: map-get($estilos, fuente);
  } */